* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    
    background-color: #f6f6f6;
    color: black;
}

.chat {
    width: 70vw;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.message {
    color: white;
    background-color: #202c33;

    padding: 8px;
    margin: 10px;
    
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.message#yourself {
    background-color: #005c4b;
}

.message #text {
    font-size: 15px;
    text-align: center;
    word-wrap: break-word;
    margin: 0 10px;
}
.message #author {
    font-size: 14px;
    text-align: left;
    text-decoration: underline;
}
.message #time {
    font-size: 10px;
    text-align: right;
}

.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.message-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.message-input button {
    padding: 10px 15px;
    border: none;
    background-color: #25D366;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.users {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 2px solid black;
}
.users h1 {
    text-decoration: underline;
}

#users {
    display: flex;
    justify-content: center;
    flex-direction: column;
}